<div>
  <div data-dojo-type="dijit/layout/LayoutContainer"
       data-dojo-props="design: 'headline'"
       class="layoutContainer">
    <div data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'top'"
         data-dojo-attach-point="topPanel"
         class="topPanel">
      <div data-dojo-type="mldic/NavigationPanel"
           data-dojo-attach-point="navigationPanel">
      </div>
    </div>
    <div data-dojo-type="dijit/layout/StackContainer"
         data-dojo-attach-point="containerNode"
         data-dojo-props="region: 'center'">
    </div>
  </div>
</div>
